h1 {
    text-align: center;
}

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    width: 300px;
    padding: 5px;
    margin-right: 5px;
}

#recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.recipe-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.recipe-card h2 {
    margin-top: 0;
}

.recipe-card p {
    margin-bottom: 0;
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
